[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#Django = "<=3.1.0"
Django = "==3.0.6"
"django-tables2" = "*"
django-filter = "*"
"django-bootstrap4" = "*"
"Django-Select2" = "*"
graphene = ">=2.0"
graphene-django = ">=2.8"
django-extensions = "*"
werkzeug = "*"
requests = "*"
pyisbn = "*"
lxml = "*"
django-crispy-forms = "*"
django-prometheus = "*"
django-allow-cidr = "*"
psycopg2-binary = "*"
#django-yarn = {editable = true,git = "https://github.com/epineda/django-yarn.git"}
r-django-partial-date = "*"
pyyaml = "*"
isbnlib = "*"
requests-random-user-agent = "*"
#openlibrary-client = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
pylint = "*"
django-debug-toolbar = "*"
pipenv-to-requirements = "*"
#django-compressor = "*"
#django-compressor-toolkit = "*"
#django-npm = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
