[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django-tables2" = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.6"
