[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.1.9"
"django-tables2" = "*"
django-filter = "*"
"django-bootstrap4" = "*"
"Django-Select2" = "*"
#graphene = "*"
#graphene-django = "*"  # disabled for Django 4 (2021-12)
django-extensions = "*"
werkzeug = "*"
requests = "*"
pyisbn = "*"
lxml = "*"
django-crispy-forms = "*"
django-prometheus = "*"
django-allow-cidr = "*"
psycopg2-binary = "*"
#django-yarn = {editable = true,git = "https://github.com/epineda/django-yarn.git"}
#r-django-partial-date = "*"
pyyaml = "*"
isbnlib = ">=3.10.5"
requests-random-user-agent = "*"
#openlibrary-client = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
pylint = "*"
django-debug-toolbar = "*"
pipenv-to-requirements = "*"
#django-compressor = "*"
#django-compressor-toolkit = "*"
#django-npm = "*"
csv-diff = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
