{% extends "base_generic.html" %}

{% block content %}
{% load static %}

    <h1><a target="search_book_reviews" href="https://duckduckgo.com/?q={{book_search}}">
    {{book_title}}
    </a></h1>
    <h2>timeline events for this book</h2>
    navigate 
    <a href="{{ request.path }}?nav=up">up</a>, 
    <a href="{{ request.path }}?nav=down">down</a>, 
    <br/>
    <a href="{% url 'timeline:add-event' pk=book_id %}">add timeline event</a>
    <br/>
    <br/>

    {% if timelineevent_list %}
    <ul>

      {% for event in timelineevent_list %}
      <li>
        {{ event.date }}{% if event.is_bc %} vChr{% endif %}
        {{ event.precision }}
        :  {{ event.location }}  
        {% if event.comment %}[{{ event.comment }}]{% endif %}
        <a target="_self" href="{% url 'timeline:delete-event' book_id=book_id pk=event.id %}">
          <img src="{% static 'images/droplink.png' %}" alt="drop timeline event"/>
        </a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no timeline event for this book.</p>
    {% endif %}
{% endblock %}

