
{% extends "base_generic.html" %}
{% load timeline_tags %}

{% block title %}
    Timeline
{% endblock %}


{% block content %}
    <h1>Timeline</h1>
    
    {% if timelineevent_list %}
    <ul>

      {% for event in timelineevent_list %}
      <li>
        {{ event.date }}{% if event.is_bc %} vChr{% endif %}:  {{ event.location }}  --- 
        {% timeline_book_link event %}
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no timeline event.</p>
    {% endif %}    
{% endblock %}