{% extends "base_generic.html" %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
    {{ form.media.css }}
    {{ form.media.js }}

    {% for message in messages %}
        <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
            {{ message|safe }}
        </div>
    {% endfor %}

    <h3>create Bookmark</h3>
    <p>for {{objtype}}: {{title}}</p>

    <form role="form" method="post">
        {% csrf_token %}
        
        {% load crispy_forms_tags %}
        {% crispy form %}

    </form>


<script>
var bookmarks_url_parseuri = "{% url 'bookmarks:parse_uri' %}";
</script>

<script src="{% static 'js/bookmarks_form.js' %}"></script>
    
{% endblock %}
