{% load static %}

<!-- show_bookmarks -->
{% if link_infos %}
<p><strong>bookmarks:</strong></p>
<table>
  <tr>
    <td></td>
    <td>Site</td>
    <td>Bookmark</td>
    <td>created/updated</td>
  </tr>  
  {% for info in link_infos %}
  <tr>
    <td>*</td>
    <td>{{ info.site_name }}</td>
    <td><a target="bookmark" href="{{ info.link.link_uri }}">{{ info.link.link_name }}</a></td>
    <td>{{ info.link.updated|date:"c" }}</td>
    <td>
        <a target="_self" href="{% url 'bookmarks:delete-bookmark' objtype=obj_type pk=obj_id link_id=info.link.id %}">
          <img src="{% static 'images/dropbookmark.png' %}" alt="drop bookmark"/>
        </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
