{% extends "base_generic.html" %}

{% block content %}
    {% load static %}

    <h1 id="page-title" data-toggle="tooltip" data-html="true" data-placement="left"
      title="total <b>{{authors_count}} authors</b> in bookdb">
      Search Authors  
    </h1>
    
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap-table/dist/bootstrap-table.min.css' %}" />
<link rel="stylesheet" type="text/css" 
  href="{% static 'bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css'}">

<style>
  table.authors {
    table-layout: fixed;
  }
  #authorslist thead > tr > th.detail,
  #authorslist tbody > tr:not(.detail-view) > td:first-of-type {
    display: none;
  }
  th.author_id {
    width: 48px;
  }
  th.author_name {
    width: 180px;
  }
  th.book_rating_avg {
    width: 70px;
  }
  th.book_count {
    width: 60px;
  }
  th.author_update {
    width: 100px;
  }
  th.author_latest_book {
    /* width: 480px; */
  }
</style>

{% block extra_js%}
<script src="{% static 'js.cookie/dst/Cookie.js' %}"></script>
<script src="{% static '@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap-table/dist/bootstrap-table.min.js' %}"></script>

<script src="{% static 'bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
<script src="{% static 'bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js' %}"></script>
<script src="{% static 'js/bookshelf.js' %}"></script>
{% endblock %}


<div class="container-fluid">
  <div id="authorslist_error" style="hidden" class="alert alert-danger collapse" role="alert">
    (TODO message here)
  </div>  
  <div id="toolbarAuthors">
    <a target='new-author' href="{% url 'bookshelf:author-create' %}">add new Author</a>
  </div>  
  <table class="table table-sm authors" id="authorslist"
    data-toggle="table"
    data-show-columns="true"
    data-url="/bookshelf/authors/search/"
    data-toolbar="#toolbarAuthors"
    data-pagination="true"
    data-side-pagination="server"
    data-search="false"
    data-filter-control="true" 
    data-filter-show-clear="true"
    data-click-to-select="true"
    data-sort-name="name"
    data-sort-order="asc"
    data-cookie="true"
    data-cookie-id-table="authors"
    data-cookie-storage="cookieStorage"
    data-detail-view="true" 
    data-detail-formatter="detailFormatterAuthor"
    >
    <!-- detailFormatterAuthor => view getAuthorsListDetails -->
    <thead>
    <tr>
      <th class="author_id" 
        data-field="id" 
        data-filter-control="input" 
        >ID</th>
      <th id="col-name" class="author_name"
        data-field="name" 
        data-filter-control="input" 
        data-formatter="format_author_link"
        data-sortable="true"
        scope="col">Name</th>
      <th id="col-rating" class="book_rating_avg"
        title="average rating of all books read from author"
        data-field="book_rating_avg" 
        data-filter-control="false" 
        data-sortable="true"
        scope="col">Rating</th>
      <th id="col-book-count" data-field="book_count" class="book_count"
        title="number of books (for list of books, click onto row)"
        data-filter-control="false" 
        data-sortable="true"
        scope="col">#</th>
      <th id="col-bk-read-count" data-field="books_read" class="book_count"
        title="number of books read"
        data-filter-control="false" 
        data-sortable="true"
        scope="col">read</th>
      <th id="col-auth-update" data-field="updated" class="author_update"
        title="authors info last updated"
        data-filter-control="false" 
        data-sortable="true" 
        scope="col">Updated</th>
      <th id="col-books-update" data-field="last_book_update" class="author_update"
        title="last book update related to given author"
        data-filter-control="false" 
        data-sortable="true" 
        scope="col">BkUpd</th>
      <th id="col-book-latest" data-field="latest_book" class="author_latest_book"
        data-filter-control="false" 
        data-sortable="false" 
        scope="col">Latest Book</th>
    </tr>
    </thead>
  </table>
</div>

<script src="{% static 'js/authors_table.js' %}"></script>
    
{% endblock %}

