{% extends "base_generic.html" %}
{% load bookmarks_tags %}

{% block content %}
<!-- button type="button" class="btn btn-primary" ... -->
<a class="btn btn-primary btn-sm" role="button" 
  href="{% url 'bookshelf:author-update' authors.pk %}">Edit Author Details</a>

<h1>{{ authors.name }}</h1>
<p class="author_bio_short">{{ authors.short_bio }}</p>

<!-- p><strong>Details:</strong><br/> 
  (currently no additional description for author -- future)
</p -->
<p class="detail_brief">Updated: {{ authors.updated|date:"c" }}</p>
<p class="detail_brief">Last Book Update: {{ authors.last_book_update|date:"c" }}</p>

<br/>
<a href="{% url "bookmarks:bookmark-create" objtype='authors' pk=authors.id %}">add bookmark</a>

{% show_bookmarks authors %}

<hr/>
<p>books read</p>
{% for book in books_read %}
  <div>
    <a target="author_book" href="/bookshelf/books/{{book.id}}">{{book.book_title}}</a>
  {% if book.book_serie %}
    (<span id="book-serie">{{ book.book_serie }}</span>)
  {% endif %}
  </div>
{% endfor %}

<br/>
<p>other books</p>
{% for book in books_other %}
  <div><a target="author_book" href="/bookshelf/books/{{book.id}}">{{book.book_title}}</a></div>
{% endfor %}

<hr/>
</div>
{% endblock %}

