{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>
    order by 
    <a href="{{ request.path }}?sort=title">title</a>, 
    <a href="{{ request.path }}?sort=created">created</a>, 
    <a href="{{ request.path }}?sort=updated">updated</a>,
    <a href="{{ request.path }}?sort=wishlist">wishlist</a>,
    <a href="{{ request.path }}?sort=onleihe_unkown">onleihe?</a>,
    <a href="{{ request.path }}?sort=missing_timeline">no timeline event</a>
    <br/>
    <a href="{% url 'bookshelf:book-create' %}">add new book</a>
    <br/>
    <br/>

    {% if books_list %}
    <ul>

      {% for book in books_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">
            {{ book.title }}
        </a>
        [{{ book.state_info }}]
        {{ book.onleihe_status }}
        &ndash; {% for author in book.authors.all|slice:":3" %}
            {{author.name}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% if book.authors.all|length > 3 %}
           ...
        {% endif %}
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no books in the bookshelf.</p>
    {% endif %}       
{% endblock %}

