{% extends "base_generic.html" %}

{% block content %}
<!-- button type="button" class="btn btn-primary" ... -->
<a class="btn btn-primary btn-sm" role="button" 
  href="{% url 'book-update' books.pk %}">Update Book Details</a>
<a class="btn btn-secondary btn-sm" role="button" 
  href="{% url 'state-update' books.pk %}">Update Book State</a>

{% if USE_LIBRARYTHING == "1" %}
<a class="btn btn-secondary btn-sm" role="button" 
  title="book details and reviews on LibraryThing"
  href="{% url 'lookup-librarything' pk=books.pk %}"
  >LibraryThing</a>
{% endif %}

<h1>{{ books.title }}</h1>

<p><strong>Author(s):</strong>
{% for author in books.authors.all %}
  <a href="{% url 'author-detail' author.pk %}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
<p><strong>ISBN:</strong> 
{% if books.isbn10 %}{{ books.isbn10 }}&nbsp;&nbsp;{% endif %}
{% if books.isbn13 %}{{ books.isbn13 }}{% endif %}

<p><strong>Description:</strong><br/> 
{% if not books.new_description %}
  {% if not books.description %}
      (missing description)
  {% else %}
      {{ books.description|safe|linebreaks }}
  {% endif %}
{% else %}
      {{ books.new_description|safe|linebreaks }}
{% endif %}
</p>
<p>Updated: {{ books.updated|date:"c" }}</p>

<hr/>

<div style="margin-left:20px;margin-top:20px">
<h4>Notes</h4>

{% if books.comments_set.count %}
<table class="table-sm">
<thead>
  <tr>
    <th>Date</th>
    <th>Note</th>
  </tr>
</thead>
<tbody>

{% for comment in books.comments_set.all %}
<tr>
<td class="comment-date small">{{ comment.dateCreated|date:'Y-m-d H:i' }}</td>
<td class="comment-text">{{ comment.text }}</td>
</tr>
{% endfor %}

</tbody>
</table>

{% else %}
    (no notes)
{% endif %}

<br/>
<hr/>
</div>
{% endblock %}

