{% extends "base_generic.html" %}

{% block content %}
<h1>Search Books</h1>

{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap-table/dist/bootstrap-table.min.css' %}" />
<link rel="stylesheet" type="text/css" 
  href="{% static 'bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css'}">

<link rel="stylesheet" href="{% static 'x-editable/dist/bootstrap-editable/css/bootstrap-editable.css' %}" />

<style>

  /* fix for editable type number positioning */
  .popover{
    left:-20px!important
  } 

  table.books {
    /*table-layout: fixed;*/
  }
  th.book_id {
    width: 40px;
  }
  th.book_title {
    background-color: rgba(201, 76, 76, 0.1);
  }
  th.book_added {
    width: 100px;
  }
  th.book_updated {
    width: 100px;
  }
  th.book_state {
    width: 112px; 
  }
  th.user_rating {
    width: 40px;
  }
  th.col_isbn {
    width: 10px;
  }
</style>

{% block extra_js%}
<!-- already loaded by base_generic.html: jquery, bootstrap, popper -->
<script src={% static 'js.cookie/dst/Cookie.js' %}></script>
<script src="{% static 'bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
<script src="{% static 'x-editable/dist/bootstrap-editable/js/bootstrap-editable.min.js' %}"></script>

<script src="{% static 'jquery-form/dist/jquery.form.min.js' %}"></script>

<script src="{% static 'bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
<script src="{% static 'bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js' %}"></script>
<script src="{% static 'bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js' %}"></script>
<script src="{% static 'js/bookshelf.js' %}"></script>
{% endblock %}

<script>
var rating_values = {
  "5": "5 - highest",
  "4": "4 - high",
  "3": "3 - average",
  "2": "2 - low",
  "1": "1 - lowest"
};
// "0": "0 - not rated" 
var have_read_values = {
  "read": "have read",
  "reading": "reading",
  "want_read": "want read",
  "not_read": "not read/suspended",
};
/*
model states, inherited from MyBookDroid
    favorite
    haveRead
    readingNow
    iOwn
    toBuy
    toRead
*/
</script>

<div class="container-fluid">
  <div id="bookslist_error" style="hidden" class="alert alert-danger collapse" role="alert">
    (TODO message here)
  </div>
  <div id="toolbarBooks">
    <a target='new-book' href="{% url 'bookshelf:book-create' %}">add new Book</a>
  </div>
  <table class="table table-sm books" id="bookslist"
    data-toggle="table"
    data-id-field="id"
    data-show-columns="true"
    data-show-toggle="false"
    data-url="/bookshelf/books/search"
    data-toolbar="#toolbarBooks"
    data-pagination="true"
    data-side-pagination="server"
    data-search="false"
    data-filter-control="true" 
    data-filter-show-clear="true"
    data-click-to-select="true"
    data-sort-name="created"
    data-sort-order="desc"
    data-cookie="true"
    data-cookie-id-table="books"
    data-cookie-storage="cookieStorage"
    data-detail-view="true" 
    data-editable-url="{% url 'bookshelf:editable-update'%}"
  >
   <!-- 
   TODO selectively show detail-view
    data-detail-formatter="detailFormatterBook" 
    
   but need to handle click on rating columns
   detailFormatterBook see view getBooksListDetails 
   
  
   -->
  <!-- 
    data-toolbar= 
    data-buttons-toolbar=
  -->
    <thead>
    <tr>
      <th class="row_state"
        data-checkbox="true">
        </th>
      <th class="book_id" 
        data-field="id"
        data-formatter="format_book_link"
        >ID</th>
      <th id="col-title" class="book_title" 
        data-field="title" 
        data-switchable="false"
        data-filter-control="input" 
        data-formatter="format_book_title"
        scope="col"
        >Title</th>
      <th id="col-state" class="book_state"
        data-field="state"
        data-filter-control="select" 
        data-filter-data="var:book_states"
        data-sortable="false" 
        data-formatter="format_state"
        scope="col"
        >Status</th>
      <th id="col-rating" class="user_rating"
        data-field="userRating" 
        data-sortable="true"
        data-filter-control="select"
        data-filter-data="var:rating_values"
        data-editable="true"
        data-editable-type="number"
        data-editable-url="/bookshelf/books/0/update-userrating/"
        data-editable-emptytext="(not rated)" 
        scope="col"
        >Rating</th>
      <!-- th id="col-sbn" class="col_isbn"
        data-field="isbn13"
      >ISBN</th -->
      <th id="col-created" class="book_added"
        data-field="created" 
        data-filter-control="input" 
        data-sortable="true" 
        scope="col"
        >Added</th>
      <th id="col-updated" class="book_updated"
        data-field="updated" 
        data-filter-control="input" 
        data-sortable="true" 
        scope="col"
        >Updated</th>
    </tr>
    </thead>
    <!-- table body generated, see view search_book -->
  </table>
</div>

<div class="modal" id="states-modal" tabindex="-1" role="dialog"></div>

<script>
var url_status_base = "{% url 'bookshelf:book-status-update' pk=987654321 %}";
// defaults for filter select book_state, ...
var book_states = {{book_states|safe}}; 
</script>

<script src="{% static 'js/bookslist_table.js' %}"></script>

<script>
//$('#bookslist').detailFormatter = detailFormatterBook;
</script>
    
{% endblock %}
