{% extends "base_generic.html" %}
{% load static %}
{% load bookmarks_tags %}

{% block content %}

<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap-table/dist/bootstrap-table.min.css' %}" />
<link rel="stylesheet" href="{% static 'x-editable/dist/bootstrap-editable/css/bootstrap-editable.css' %}" /> <!-- TODO no longer maintained, to be replaced -->

<style>
/* use !important to override width of form-control inside editable-container */
.editable_bookscomment {
  width: 800px !important;
  /* TODO compute width from table column .editable-note */
}

.editable_bookscomment_new {
  width: 800px !important;
  color: read;
  font-style: italic; 
}

.editable-click, a.editable-click {
    text-decoration: none;
    color: #428bca;
    border-bottom: none
}
/* to remove underline / dashed border-bottom, dropped:
   border-bottom: dashed 1px #428bca
*/
.comment-date {
    width: 120px;
}
</style>

<script src="{% static 'x-editable/dist/bootstrap-editable/js/bootstrap-editable.js' %}"></script>
<script src="{% static '/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
<script src="{% static 'bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js' %}"></script>

<!-- button type="button" class="btn btn-primary" ... -->
<a class="btn btn-primary btn-sm" role="button" 
  href="{% url 'bookshelf:book-update' books.pk %}">Edit Book Details</a>
<a class="btn btn-secondary btn-sm" role="button" 
  href="{% url 'bookshelf:state-update' books.pk %}">Update Book State</a>

{% if SUPPORT_TIMELINE == "1" %}
<a class="btn btn-secondary btn-sm" role="button" 
  title="timeline events for current book"
  href="{% url 'timeline:show-timeline' pk=books.pk %}"
  target="timeline"
  >Timeline ({{ event_count }})</a>
{% endif %}

{% if USE_LIBRARYTHING == "1" %}
<a class="btn btn-secondary btn-sm" role="button" 
  title="book details and reviews on LibraryThing"
  href="{% url 'bookshelf:lookup-librarything' pk=books.pk %}"
  >LibraryThing</a>
{% endif %}

{% if USE_ONLEIHE == "1" %}
<!-- currently not working, and no API documentation available -->
<a class="btn btn-sm {{onleihe_button_status}}" role="button" 
  title="search book in Onleihe"
  href="{% url 'bookshelf:lookup-onleihe' pk=books.pk %}"
  >Onleihe</a>
{% endif %}


<div>
<button class="btn btn-light clipboard_btn" data-clipboard-target="#book-title">
    <img src="{% static 'images/clipboard.svg' %}" alt="Copy to clipboard">
</button>
<span class="book-title" id="book-title">{{ books.book_title }}</span>
{% if books.book_serie %}
    (<span id="book-serie">{{ books.book_serie }}</span>)
{% endif %}
</div>
<script>new ClipboardJS('.clipboard_btn');</script>


<p class="mb-0"><strong>Author(s):</strong>
{% for author in books.authors.all %}
  <a href="{% url 'bookshelf:author-detail' author.pk %}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
<p class="m-0"><strong>ISBN:</strong> 
<a target="isbn-info" href="{% url "bookshelf:isbn-info" pk=books.id %}">
{% if books.isbn13 %}
  {{ books.isbn13 }}
{% else %}
  <i>(ISBN?)</i>
{% endif %}
</a>
</p>

<p class="m-0"><strong>Language:</strong> 
{{ language_text }}
</p>

<p class="m-0">
<strong>Rating:</strong> 
<a href="#" class="userrating" data-name="userRating" data-type="number" 
  data-pk="{{books.id}}" data-url="/bookshelf/books/{{books.id}}/update-userrating/" 
  data-title="rate this book" data-value="{{books.userRating|default:'3'}}">
{% if books.userRating %}
  {{ books.userRating }}
{% else %}
  (no rating)
{% endif %}
</a>
</p>

<br/>
{% if books.states.obsolete %}
<p class="bg-danger">--- obsolete ---</p>
{% else %}
<a href="{% url "bookmarks:bookmark-create" objtype='books' pk=books.id %}">add bookmark</a>

{% show_bookmarks books %}
<br/>

<p><strong>Description:</strong><br/> 
{% if not books.new_description %}
  {% if not books.description %}
      (missing description)
  {% else %}
      {{ books.description|safe|linebreaks }}
  {% endif %}
{% else %}
      {{ books.new_description|safe|linebreaks }}
{% endif %}
</p>
{% endif %}
<hr/>
<p class="detail_brief">
  Created: {{ books.created|date:"c" }}, 
  Updated: {{ books.updated|date:"c" }},
  Synced: {{ books.sync_mybookdroid|date:'c' }}
</p>
<p class="detail_brief">
  Start Reading: {{ books.read_start|date:"c" }}, 
  End Reading: {{ books.read_end|date:"c" }}
</p>
<p class="detail_brief">
  States:
  <span class="{% if books.states.state_conflict %}bg-danger{% endif %}">
    {{ books.states }}
  </span>
</p>
<p class="detail_brief">Onleihe: {{ onleihe_info }}</p>

<hr/>

<div style="margin-left:20px;margin-top:20px">
<h4>Comments</h4>

<table class="table table-sm booksdetail" id="bookscomments"
    data-toggle="table"
    data-id-field="comment_id"
    data-show-columns="false"
    data-show-toggle="false"
>
<thead>
  <tr>
    <th
      data-field="comment_id" 
      data-visible="false"
    >Id</th>
    <th
      id="comment_date"
    >Date</th>
    <th
        class="editable-note"
        data-editable="true"
        data-editable-mode="inline"
        data-editable-type="text"
        data-editable-inputclass="editable_bookscomment"
        data-editable-url="/bookshelf/books/{{books.id}}/update-comment/"
        style="width:100%"
    >Note</th>
<!-- 
-->
  </tr>
</thead>
<tbody>

{% for comment in books_comments %}
<tr>
<td class="comment-id small">{{ comment.id }}</td>
<td class="comment-date small">{{ comment.datetime_created }}</td>
<td class="comment-text">{{ comment.clean_text }}</td>
</tr>
{% endfor %}

<tr>
<td class="comment-id small">0</td>
<td class="comment-date small">{{comment_now}}</td>
<td 
    class="comment-text" 
    data-editable-inputclass="editable_bookscomment_new"
>(new comment)</td>
</tr>

</tbody>
</table>

<br/>
<hr/>
</div>

<script>
$('.userrating').editable({
  // mode: 'inline',  
  type: 'number',
  min: '1',
  max: '5',
  step: '1'
});

//TODO change input width using inputclass or tpl
//$('.editable-note').editable({});

</script>

{% endblock %}

