{% extends "base_generic.html" %}

{% block content %}
<!-- button type="button" class="btn btn-primary" ... -->
<a href="{% url 'book-update' books.pk %}">Edit</a>

<h1>{{ books.title }}</h1>

<p><strong>Author(s):</strong>
{% for author in books.authors.all %}
  <a href="{% url 'author-detail' author.pk %}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
<p><strong>ISBN:</strong> 
{% if books.isbn10 %}{{ books.isbn10 }}&nbsp;&nbsp;{% endif %}
{% if books.isbn13 %}{{ books.isbn13 }}{% endif %}

<p><strong>Description:</strong><br/> 
{% if not books.description %}
    (missing description)
{% else %}
  <!-- TODO mark safe -->
    {{ books.description|safe }}
{% endif %}
</p>
<p>Updated: {{ books.updated|date:"c" }}</p>

<!-- TODO future
<p><strong>Groups:</strong> { % for grop in book.bookGroup.all %}{{genre}}{ % if not forloop.last %}, { % endif %}{ % endfor %}</p>  
-->
<hr/>

<div style="margin-left:20px;margin-top:20px">
<h4>Comments</h4>

{% if books.comments_set.count %}
<table class="table-sm">
<thead>
  <tr>
    <th>Date</th>
    <th>Comment</th>
  </tr>
</thead>
<tbody>

{% for comment in books.comments_set.all %}
<tr>
<td class="comment-date small">{{ comment.dateCreated|date:'Y-m-d H:i' }}</td>
<td class="comment-text">{{ comment.text }}</td>
</tr>
{% endfor %}

</tbody>
</table>

{% else %}
    (no comments)
{% endif %}

<br/>
<hr/>
</div>
{% endblock %}

