{% extends "base_generic.html" %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
{{ form.media.css }}

<link rel="stylesheet" href="{% static 'bootstrap-table/dist/bootstrap-table.min.css' %}" />

{{ form.media.js }}

<script src="{% static 'bootstrap-table/dist/bootstrap-table.min.js' %}"></script>

<a href="{{details_url}}">back to book details</a>
{% for message in messages %}
    <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
        {{ message|safe }}
    </div>
{% endfor %}

<h3>Onleihe Book Info</h3>

<p>Book Id={{book}}</p>
{% if details %}

    <form role="form" method="post" action="{% url 'bookshelf:lookup-onleihe' book_id %}">
        <!-- legend>Update book state:</legend -->
        {% csrf_token %}
        
   <div class="container-fluid">
        <table 
            id="book-detail-table" 
            class="table table-condensed"
            data-show-header="false"
            data-class="table table-condensed"
            data-toggle="table"
            data-row-style="DetailTableRowStyle"
            data-url="{% url 'bookshelf:onleihe-data' pk=book_id %}"
        >
        <!--
            data-height="460"        
        -->
        <thead>
            <tr>
                <th data-field="field_name" data-sortable="true" data-visible="false"></th>
                <th data-field="field_title" data-sortable="true"></th>
                <th data-field="book1" data-sortable="false" 
                    data-formatter="CustomFormatter">book</th>
{% for book_index in other_books_idx %}                
                <th data-field="book{{book_index}}" data-sortable="true" 
                     data-formatter="CustomFormatter">book #{{book_index}}</th>
{% endfor %}                
            </tr>
        </thead>
    </table>
    </div>

        <!-- % bootstrap_form form % -->
{% if mustConfirm %}
        {% buttons submit='OK' %}{% endbuttons %}        
{% endif %}
    </form>
    
{% else %}
<p>Book not found in Onleihe!</p>
{% endif %}
<hr/>


<script>
var onleiheId = "{{ onleiheId }}";
</script>
<script src="{% static 'js/lookup_onleihe.js' %}"></script>

{% endblock %}
