{% extends "base_generic.html" %}

{% load bootstrap4 %}

{% block title %}
    book info from Onleihe
{% endblock %}

{% block content %}
    {{ form.media.css }}
    {{ form.media.js }}

    {% for message in messages %}
        <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
            {{ message|safe }}
        </div>
    {% endfor %}
    
    <h3>Book Info</h3>
    {{ bookinfo_form.as_p }}
    
    <hr/>
    <h3>Info from Onleihe</h3>
    
    {% if book_url %}
    <a href="{{ book_url }}" target="_author">
      show book details on Onleihe
    </a>
    {% else %}
    <p>Not found in Onleihe!</p>
    {% endif %}
    <hr/>
    
    <form role="form" method="post"> <!-- action="TODO" -->
        <!-- legend>Update book state:</legend -->
        {% csrf_token %}
        <!-- % bootstrap_form form % -->
        <p>TODO fields to link book with Onleihe to be shown here</p>
        {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}        
    </form>
    
{% endblock %}
