{% extends "base_generic.html" %}

{% load bootstrap4 %}

{% block title %}
    book info on LibraryThing
{% endblock %}

{% block content %}
    {{ form.media.css }}
    {{ form.media.js }}

    {% for message in messages %}
        <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
            {{ message|safe }}
        </div>
    {% endfor %}
    
    <h3>Book Info</h3>
    {{ bookinfo_form.as_p }}
    
    <hr/>
    <h3><a href="{{ book_url }}" target="book_info">
    Info from LibraryThing
    </a></h3>
    {{ libraryinfo_form.as_p }}
    
    {% if book_info.author_url %}
    <a href="{{ book_info.author_url }}" target="lt_author">
      show author details on LibraryThing
    </a>
    {% endif %}
    <hr/>
    
    <form role="form" method="post"> <!-- action="TODO" -->
        <!-- legend>Update book state:</legend -->
        {% csrf_token %}
        <!-- % bootstrap_form form % -->
        <p>TODO fields to link book with LibraryThing to be shown here</p>
        {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}        
    </form>
    
{% endblock %}
