<!--
book states modal dialog / form 
see bookshelf.forms.StateUpdateForm 
-->
{% extends "base_generic.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    {{ form.media.css }}
    {{ form.media.js }}

    {% for message in messages %}
        <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
            {{ message|safe }}
        </div>
    {% endfor %}
    
    <h3>Edit State for Book "{{ object.book.book_title }}"</h3>
    <br/>
    
    <form role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %} <!-- see StateUpdateForm -->
        {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
        <!-- TODO fix Cancel button - or switch to use crisy_forms FormActions -->
    </form>
    
{% endblock %}
