.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}


#comment-date {
    
}

#comment-text {
}


table.table thead th.sortable { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead th.asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead th.desc { background: url('../img/sort_desc.png') no-repeat center right; }

div.date_column {
  white-space: normal;
  width: 100px;
  white-space: nowrap
}
/* height: 45px; */
/* white-space: nowrap */

.bookcomment-small {
    font-size: 12px;
}

/*
https://stackoverflow.com/questions/14596743/how-do-you-change-the-width-and-height-of-twitter-bootstraps-tooltips
*/ 
.tooltip-inner {
    min-width: initial;
    max-width: 90% !important;
    text-align: left !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-left: 40px !important;
    margin-bottom: 6px;
    background-color: #505050;
    font-size: 14px;
}

